/*

Native HTML Elements

*/
body {
  background: #f1f1f1; }

h1 {
  margin-bottom: 2em; }

section {
  margin: 100px 0; }

nav a + a::before {
  content: ' | '; }

nav a:hover {
  text-decoration: none; }

img {
  max-width: 100%; }

/*

    Content Cards

*/
#cards .caption {
  background: #fff;
  padding: 30px;
  letter-spacing: 0.5px;
  line-height: 1.8em;
  transition: all 0.2s; }
#cards h2 {
  margin-bottom: 0; }

/*

    Search

*/
#searchsection input, #searchsection form {
  transition: all 0.5s; }
#searchsection form {
  padding: 20px;
  display: block; }
#searchsection input {
  border: none;
  display: inline-block;
  line-height: 24px;
  padding: 0;
  font-size: 14px;
  margin: 0;
  width: 0; }
#searchsection input, #searchsection .glyphicon {
  display: inline-block; }
#searchsection .glyphicon {
  padding: 5px;
  margin: 0 5px;
  font-size: 24px;
  position: relative;
  top: 6px; }

#searchsection.open form {
  background: #fff;
  width: 336px; }
#searchsection.open input {
  padding: 10px;
  width: 248px; }

/*

    Photo Gallery

*/
#gallery img {
  margin-bottom: 20px; }

/*# sourceMappingURL=style.css.map */
