$body_background: #f1f1f1;
$search_form_colour: #fff;
$caption_background: #fff;

/*

Native HTML Elements

*/
body{
  background: $body_background;
}
h1{
  margin-bottom: 2em;
}
section{
  margin: 100px 0;
}
nav a + a::before{
  content: ' | ';
}
nav a:hover{
  text-decoration: none;
}
img{
  max-width: 100%;
}

/*

    Content Cards

*/
#cards{
  .caption{
    background: $caption_background;
    padding: 30px;
    letter-spacing: 0.5px;
    line-height: 1.8em;
    transition: all 0.2s;
  }
  h2{
    margin-bottom: 0;
  }
}

/*

    Search

*/
#searchsection{
  input, form{
    transition: all 0.5s;
  }
  form{
    padding: 20px;
    display: block;
  }
  input{
    border: none;
    display: inline-block;
    line-height: 24px;
    padding: 0;
    font-size: 14px;
    margin: 0;
    width: 0;
  }
  input, .glyphicon{
    display: inline-block;
  }
  .glyphicon{
    padding: 5px;
    margin: 0 5px;
    font-size: 24px;
    position: relative;
    top: 6px;
  }
}

#searchsection.open{
  form{
    background: $search_form_colour;
    width: 336px;
  }
  input{
    padding: 10px;
    width: 248px;
  }
}

/*

    Photo Gallery

*/
#gallery img{
  margin-bottom: 20px;
}